## Useful properties and methods

In [2]:
import pandas as pd

In [3]:
data = pd.read_csv("../../datasets/drinks.csv", nrows=5)
data

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF

In [ ]:
data.index

In [ ]:
data.columns

In [ ]:
data.shape

In [ ]:
data.info()

In [ ]:
data.describe()

In [ ]:
data.wine_servings.max()

In [ ]:
data[data.wine_servings == data.wine_servings.max()]