## Index DataFrame

In [2]:
import pandas as pd

In [3]:
prices_dict = {
    "fruits": ["apples", "oranges", "bananas", "strawberries"],
    "prices": [1.5, 2, 2.5, 3],
    "suppliers": ["supplier1", "supplier2", "supplier4", "supplier3"],    
}

prices_df = pd.DataFrame(prices_dict, index = [1,2,3,4])
prices_df

         fruits  prices  suppliers
1        apples     1.5  supplier1
2       oranges     2.0  supplier2
3       bananas     2.5  supplier4
4  strawberries     3.0  supplier3

### Select Columns

#### Select Single Column (Series Obj)

In [ ]:
## select single column - square bracket notation:
prices_df['prices']

In [ ]:
## select single column
# attribute (dot) notation:
prices_df.prices

#### square bracket vs dot notation
Note that square bracket notation is more canonical (can be used for 1 or multiple columns selection) and allows for any string to be used as selector. I.e you can't use the dot notation, if the column name contains spaces, or is a reserverd word (like max, min, etc.)

In [ ]:
demo_df = pd.DataFrame([[1,2,3],[4,5,6]], columns=['col 1', 'col 2', 'col 3'])

# the line bellow will raise an error:
# demo_df.'col 1'

In [ ]:
# When we select a single column, the returned data is a Series object!
type(prices_df['prices'])

#### Select List of Columns

Note, that the columns will be selected in the order specified in the list

In [ ]:
prices_df[['prices', 'fruits']]

The returned slice is a DataFrame object!

In [ ]:
type(prices_df[['prices', 'fruits']])

*Note, that if you want to swap columns using the list indexing will swap only the column names (the labels), but not the corresponding values:*

The way to swap columns with their respective values is discussed bellow

In [ ]:
prices_df[['fruits', 'prices']] = prices_df[['prices', 'fruits']]
prices_df

In [ ]:
# let's swap the labels back
prices_df[['fruits', 'prices']] = prices_df[['prices', 'fruits']]
prices_df

### Select columns with the loc method

**Syntax**: df.loc[row_indexer,column_indexer]

In [ ]:
prices_df.loc[:, ['fruits', 'prices']]

### Transform (swap) columns

In [ ]:
# transform a subset of columns
# prices_df[['prices','fruits']] = prices_df[['fruits','prices']]

prices_df.loc[:,['prices','fruits']] = prices_df.loc[:,['fruits', 'prices']]

prices_df

### Select rows with the iloc method

In [ ]:
# by specifying integer location:
prices_df.iloc[0]

### Select values

In [ ]:
# first select the row, and then - get the value
prices_df.iloc[2][0]

In [ ]:
# using the loc method:
prices_df.loc[2,'fruits']