# Basics of pandas.DataFrame

In [ ]:
import numpy as np
import pandas as pd

## Create DataFrame

### From list

In [ ]:
# from one dimensional list
df = pd.DataFrame([10,20,30],columns=['col1'])

In [ ]:
# from multi dimensional list
df = pd.DataFrame([
    [10,20,30],
    [4,7,9]
], columns=['col1', 'col2', 'col3'])

df

### from  numpy arrays

In [ ]:
# from multi dimensional nddarray
ndarr = np.arange(1,7).reshape(3,2)
print(ndarr)

df = pd.DataFrame(ndarr, index=['row1','row2','row3'],columns=['col1', 'col2'])
df

### from Python Dictionary

In [ ]:
# from a dictionary of equally shaped arrays
# keys will be the columns names
# array values will be the data.

prices_dict = {
    "fruits": ["apples", "oranges", "bananas", "strawberries"],
    "prices": [1.5, 2, 2.5, 3],
    "suppliers": ["supplier1", "supplier2", "supplier4", "supplier3"],    
}

prices_df = pd.DataFrame(prices_dict, index = [1,2,3,4])
prices_df

## Index DataFrame

### Select Columns

#### Select Single Column (Series Obj)

In [ ]:
## select single column - square bracket notation:
prices_df['prices']

In [ ]:
## select single column
# attribute (dot) notation:
prices_df.prices

#### square bracket vs dot notation
Note that square bracket notation is more canonical (can be used for 1 or multiple columns selection) and allows for any string to be used as selector. I.e you can't use the dot notation, if the column name contains spaces, or is a reserverd word (like max, min, etc.)

In [ ]:
demo_df = pd.DataFrame([[1,2,3],[4,5,6]], columns=['col 1', 'col 2', 'col 3'])

# the line bellow will raise an error:
# demo_df.'col 1'

In [ ]:
# When we select a single column, the returned data is a Series object!
type(prices_df['prices'])

#### Select List of Columns

Note, that the columns will be selected in the order specified in the list

In [ ]:
prices_df[['prices', 'fruits']]

The returned slice is a DataFrame object!

In [ ]:
type(prices_df[['prices', 'fruits']])

*Note, that if you want to swap columns using the list indexing will swap only the column names (the labels), but not the corresponding values:*

The way to swap columns with their respective values is discussed bellow

In [ ]:
prices_df[['fruits', 'prices']] = prices_df[['prices', 'fruits']]
prices_df

In [ ]:
# let's swap the labels back
prices_df[['fruits', 'prices']] = prices_df[['prices', 'fruits']]
prices_df

### Select columns with the loc method

**Syntax**: df.loc[row_indexer,column_indexer]

In [ ]:
prices_df.loc[:, ['fruits', 'prices']]

### Transform (swap) columns

In [ ]:
# transform a subset of columns
# prices_df[['prices','fruits']] = prices_df[['fruits','prices']]

prices_df.loc[:,['prices','fruits']] = prices_df.loc[:,['fruits', 'prices']]

prices_df

### Select rows with the iloc method

In [ ]:
# by specifying integer location:
prices_df.iloc[0]

### Select values

In [ ]:
# first select the row, and then - get the value
prices_df.iloc[2][0]

In [ ]:
# using the loc method:
prices_df.loc[2,'fruits']

## Load data from multiple file formats

http://pandas.pydata.org/pandas-docs/stable/io.html

In [ ]:
data = pd.read_csv("../../datasets/drinks.csv", sep=",")

data.head(5)

### header parameter

By default, the first row of the data file is used for header (columns labels). But if our data file has just the data, we should say to read_csv not to use header like that:

In [ ]:
data = pd.read_csv("../../datasets/drinks.csv", sep=",", header=None)

data.head(5)

### names parameter

List of column names to use.

In [ ]:
data = pd.read_csv("../../datasets/drinks.csv", 
                   header=1,
                   names=['A','B','C','D','E','F'])
data.head(3)

### Loading big files - nrows parameter

Number of rows of file to read. Useful for reading pieces of large files.

Other useful parameters are <b>chunksize</b> and <b>iterator</b>

In [126]:
data = pd.read_csv("../../datasets/drinks.csv", nrows=5)
data

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF

## Useful properties and methods

In [ ]:
data.index

In [ ]:
data.columns

In [ ]:
data.shape

In [ ]:
data.info()

In [ ]:
data.describe()

In [ ]:
data.wine_servings.max()

In [ ]:
data[data.wine_servings == data.wine_servings.max()]

## the set_index() method

In [ ]:
new_data = data.set_index("country")

In [ ]:
data.head(3)

In [ ]:
new_data.head(3)

In [ ]:
# remove the row index name
new_data.index.name = ""

### reset index (and return column back)

In [ ]:
# we use loc[] to select by name location
new_data.loc['Albania']

In [ ]:
# the row above was returned as Series object, but
# the slice is returned as DataFrame object
new_data.loc["Algeria":"Bahamas"]

### reset the index (and return the column back)

In [ ]:
new_data.index.name = "Country"

In [ ]:
new_data.reset_index(inplace=True)
new_data.head(3)

## Clean the values

In [ ]:
dirty = pd.DataFrame({"col1": [1, 2, None, 4], "col2":[None, 4, 6, 9]})
dirty.head(3)

### Find all NaN vlaues

In [ ]:
dirty.isnull().sum()

### Fill all NaN vlaues with 0

In [ ]:
clean = dirty.fillna(value=0).astype("int32")
clean.head(3)

In [ ]:
# verify it is clear
clean.isnull().sum()