# Pandas Series Object

In [1]:
import pandas as pd

## Create Series Object

### Create Series with Explicit Indexing

In [9]:
s1 = pd.Series([1,2,3,4], index=['a', 'b', 'c', 'd'])
s1

a    1
b    2
c    3
d    4
dtype: int64

### Create Series from dictionary

In [17]:
data_dict = {
    "d":4,
    "a":1,
    "c":3,
    "b":2,
    "e":5
}
s2 = pd.Series(data_dict)
s2

d    4
a    1
c    3
b    2
e    5
dtype: int64

In [25]:
s2 = pd.Series(data_dict, index=['a','c',3,4,5])
s2

a    1.0
c    3.0
3    NaN
4    NaN
5    NaN
dtype: float64

## Series Indxing

In [27]:
s = pd.Series({"apples":1, "bananas":2, "oranges":3})
s

apples     1
bananas    2
oranges    3
dtype: int64

#### Show the index

In [28]:
s.index

Index(['apples', 'bananas', 'oranges'], dtype='object')

In [43]:
s.index[0:2]

Index(['apples', 'bananas'], dtype='object')

#### numerical or keyword indexes

In [29]:
s["bananas"]

2

In [31]:
s[1]

2

#### list indexes
**note the need of double brackets**

In [33]:
s[["apples", "oranges"]]

apples     1
oranges    3
dtype: int64

### Series Slicing

In [35]:
s[0:2]

apples     1
bananas    2
dtype: int64

In [36]:
s[2:]

oranges    3
dtype: int64

## NumPy operations on Series

### filtering by value

In [48]:
s[s>=2]

bananas    2
oranges    3
dtype: int64

### arithemtic operations are point-to-point

In [49]:
s + 2

apples     3
bananas    4
oranges    5
dtype: int64

### Dictionary like operation on Series

In [50]:
"apples" in s

True

In [53]:
3 in s

False

### Missing Data

In [54]:
s1 = pd.Series([1,3], index=["a","c"])
s2 = pd.Series([2,3], index=["b","c"])

In [55]:
s1+s2

a    NaN
b    NaN
c    6.0
dtype: float64