In [9]:
import numpy as np
import pandas as pd

In [10]:
a = np.array([1,2,3,4])
print(a)
ds = pd.Series([1,2,3,4])
print(ds)

[1 2 3 4]
0    1
1    2
2    3
3    4
dtype: int64

In [11]:
prices_ds = pd.Series([1.5, 2, 2.5, 3],
            index=["apples", "oranges", "bananas", "strawberries"])
prices_ds

apples          1.5
oranges         2.0
bananas         2.5
strawberries    3.0
dtype: float64

In [14]:
s1 = pd.Series({
    'apples': 1.5,
    'oranges':2,
    'bananas':2.5
})
s1

apples     1.5
oranges    2.0
bananas    2.5
dtype: float64

In [15]:
print( s1['oranges'])

2.0

### Series slicing

In [18]:
s = pd.Series(np.arange(1,11))
s

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [21]:
s[  [1,3,8]   ]

1    2
3    4
8    9
dtype: int64

In [25]:
s[ 1::2 ]

1     2
3     4
5     6
7     8
9    10
dtype: int64

In [28]:
# TODO: 'in' in data, not keys
4 in s

True

### DataFrame

In [30]:
# from series

# by dictionary
s1 = pd.Series({
    'a':1,
    'c':3
})

# by list:
s1 = pd.Series( [1,3], index=['a','c'] )

s1

a    1
c    3
dtype: int64

In [35]:
df = pd.DataFrame( s1, columns=['A'] )
df

   A
a  1
c  3

In [ ]:
lyuba_df = pd.read_excel('../data/29.1.xlsx')