In [1]:
import pandas as pd

/home/nemsys/projects/courses/ProgressBG/ProgressBG-MLwithPython/ProgressBG-MLwithPython-Labs/.venv/lib/python3.7/site-packages/pandas/compat/__init__.py:85: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)
/home/nemsys/projects/courses/ProgressBG/ProgressBG-MLwithPython/ProgressBG-MLwithPython-Labs/.venv/lib/python3.7/site-packages/pandas/compat/__init__.py:85: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

In [17]:
df = pd.read_csv('../../datasets/PlayTennis/play_tennis_demo.csv')
df

     outlook humidity  windy play
0      sunny     high  False   no
1      sunny     high   True   no
2   overcast     high  False  yes
3      rainy     high  False  yes
4      rainy   normal  False  yes
5      rainy   normal   True   no
6   overcast   normal   True  yes
7      sunny     high  False   no
8      sunny   normal  False  yes
9      rainy   normal  False  yes
10     sunny   normal   True  yes
11  overcast     high   True  yes
12  overcast   normal  False  yes
13     rainy     high   True   no

In [22]:
# df.groupby('outlook').sort()
df1 = df.sort_values(by=['play'])
# df1 = df1[ df.outlook != 'overcast' ]
# df1.sort_values(['outlook','windy'])

df1

     outlook humidity  windy play
0      sunny     high  False   no
1      sunny     high   True   no
5      rainy   normal   True   no
7      sunny     high  False   no
13     rainy     high   True   no
2   overcast     high  False  yes
3      rainy     high  False  yes
4      rainy   normal  False  yes
6   overcast   normal   True  yes
8      sunny   normal  False  yes
9      rainy   normal  False  yes
10     sunny   normal   True  yes
11  overcast     high   True  yes
12  overcast   normal  False  yes