In [22]:
import pandas as pd
import numpy as np

In [12]:
pd.Series([1,2,3], index=["a", "c", "b"])

a    1
c    2
b    3
dtype: int64

In [15]:
s = pd.Series({"a":1, "c":2, "b":3})
s

a    1
c    2
b    3
dtype: int64

In [16]:
s["c"]

2

In [39]:
s

a    1
c    2
b    3
dtype: int64

In [42]:
s2 = pd.Series({"a":"ala", "c":"bala", "b":"bar"})

In [46]:
df = pd.DataFrame(s,columns=["A"])
df

   A
a  1
c  2
b  3

In [47]:
prices_ds = pd.Series([1.5, 2, 2.5, 3],
            index=["apples", "oranges", "bananas", "strawberries"])

suppliers_ds = pd.Series(["supplier1", "supplier2", "supplier4", "supplier3"],
               index=["apples", "oranges", "bananas", "strawberries"])

In [48]:
prices_ds

apples          1.5
oranges         2.0
bananas         2.5
strawberries    3.0
dtype: float64

In [49]:
suppliers_ds

apples          supplier1
oranges         supplier2
bananas         supplier4
strawberries    supplier3
dtype: object

In [52]:
df = pd.DataFrame({"prices_ds":prices_ds, "suppliers_ds":suppliers_ds})
df

              prices_ds suppliers_ds
apples              1.5    supplier1
oranges             2.0    supplier2
bananas             2.5    supplier4
strawberries        3.0    supplier3