# DataFrame Object

In [1]:
import pandas as pd

## Constructing DataFrame

### From an ndarray

In [26]:
# from one dimensional array
df = pd.DataFrame([10,20,30],columns=['col1'])
df

   col1
0    10
1    20
2    30

In [27]:
# from multi dimensional array
df = pd.DataFrame([
    [10,20,30],
    [4,7,9]
], columns=['col1', 'col2', 'col3'])

df

   col1  col2  col3
0    10    20    30
1     4     7     9

### From a single Series object

In [7]:
#create prices Series Object:
prices_ds = pd.Series([1.5, 2, 2.5, 3],
            index=["apples", "oranges", "bananas", "strawberies"])
prices_ds

apples         1.5
oranges        2.0
bananas        2.5
strawberies    3.0
dtype: float64

In [15]:
# create DataFrame Object from prices Series:
prices_df = pd.DataFrame(prices_ds, columns=["prices"])
prices_df

             prices
apples          1.5
oranges         2.0
bananas         2.5
strawberies     3.0

### From  a dictionary of arrays

**keys** will be the columns names

array **values**  will be the data. Must be with equal shape!

In [28]:
prices_dict = {
    "prices": [1.5, 2, 2.5, 3],
    "suppliers": ["supplier1", "supplier2", "supplier4", "supplier3"]
}

prices_df = pd.DataFrame(prices_dict, index=["apples", "oranges", "bananas", "strawberries"])
prices_df

              prices  suppliers
apples           1.5  supplier1
oranges          2.0  supplier2
bananas          2.5  supplier4
strawberries     3.0  supplier3