In [3]:
import numpy as np
import pandas as pd

from sklearn import datasets
from sklearn.model_selection import train_test_split

import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

In [5]:
df = pd.DataFrame([[np.nan, 2, np.nan, 0],
  [3, 4, np.nan, 1],
  [np.nan, np.nan, np.nan, 5],
  [np.nan, 3, np.nan, 4]], columns=list('ABCD'))
df

     A    B   C  D
0  NaN  2.0 NaN  0
1  3.0  4.0 NaN  1
2  NaN  NaN NaN  5
3  NaN  3.0 NaN  4

In [16]:

replace_values = df['A'].mode()
print(f'replace_values: {replace_values}')
print(f'type replace_values: {type(replace_values)}')

df['A'].fillna(value=replace_values[0], inplace=True)
df

replace_values: 0    @
dtype: object
type replace_values: <class 'pandas.core.series.Series'>

   A    B   C  D
0  @  2.0 NaN  0
1  3  4.0 NaN  1
2  @  NaN NaN  5
3  @  3.0 NaN  4