# Tests and demo snippets

In [1]:
import numpy as np
import pandas as pd

from sklearn import datasets
from sklearn.model_selection import train_test_split

import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

from functools import partialmethod
pd.DataFrame.head = partialmethod(pd.DataFrame.head, n=5)

pd.set_option('display.max_rows', 10)
pd.set_option('display.max_columns', 50)

In [27]:
df = pd.DataFrame({
    'a':[1,2,3],
    'b':[1,3,4],
    'c':[2,4,5],
    'd':[3,2,2]
})

##

In [29]:
df_1=df.apply(pd.Series.value_counts)
df_1

     a    b    c    d
1  1.0  1.0  NaN  NaN
2  1.0  NaN  1.0  2.0
3  1.0  1.0  NaN  1.0
4  NaN  1.0  1.0  NaN
5  NaN  NaN  1.0  NaN

## reset/drop index

In [30]:
df_reseted = df.reset_index()
df_dropped = df_reseted.drop("index", axis=1)

print(f'df_reseted: \n{df_reseted}')
print(f'df_dropped: \n{df_dropped}')
print(f'df: \n{df}')

df_reseted:
   index  a  b  c  d
0      0  1  1  2  3
1      1  2  3  4  2
2      2  3  4  5  2
df_dropped:
   a  b  c  d
0  1  1  2  3
1  2  3  4  2
2  3  4  5  2
df:
   a  b  c  d
0  1  1  2  3
1  2  3  4  2
2  3  4  5  2

## get column names

In [31]:
column_names = df.columns.values
column_names

array(['a', 'b', 'c', 'd'], dtype=object)

## Get NaN values for each column in new df

In [33]:
# let's create some nan values:
df_with_nan = df.replace(2,np.nan)
df_with_nan

     a  b    c    d
0  1.0  1  NaN  3.0
1  NaN  3  4.0  NaN
2  3.0  4  5.0  NaN

In [37]:
# get all NaN counts per each column in a Series:
nan = df_with_nan.isnull().sum()

# make new df with NaN values counts
df_count_nan = pd.DataFrame(nan, columns=['number of NaN values'])
df_count_nan

   number of NaN values
a                     1
b                     0
c                     1
d                     2